@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');

body
{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    color: rgb(103, 103, 103);
    text-align: center;
}

.parallax-window 
{
	min-height: 100vh;
    background: transparent;
}

.tooltip-inner
{
    font-size: 12pt;
    border-radius: 20px;
    padding: 10px;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

/* Nav */

.navbar-light .navbar-nav .nav-link , 
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:visited
{
    color: #005c9d;
}

.bg-light
{
    background: #fff;
}

.navbar-container
{
    position: absolute;
    min-width: 350px;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}

.navbar
{
    padding-bottom: 0;
    padding-top: 0;
    min-height: 50px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navbar-collapse
{
    margin-bottom:0 ;
    margin-top: 0;
    min-height: 100%;
}

.navbar-nav > .nav-item
{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    height: 100%;
    border-bottom: 2px solid transparent;
}

.nav-item:hover
{
    border-bottom: 2px solid #007CBF;
    border-radius: 0;
}

/* Banner */

.banner-caption
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

.banner-caption > h1, .banner-caption > h4
{
    color: #fff;
}

.banner-caption > h1
{
    font-size: 72pt;
    font-weight: bold;
}

.banner-caption > p
{
    font-size: 26pt;
}

.banner-caption > a 
{
    font-size: 26pt;
    color: #fff !important;
}

/* Decorators */

.separator
{
    width: 100%;
    border-bottom: 2px solid #00537F;
}

.separator-light
{
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
}

/* Containers */

.info-element
{
    margin-bottom: 200px !important;
    margin-top: 200px !important;
}

.info-element > h2 , .info-header
{
    font-stretch: condensed;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

/* About */


.avatar
{
    border: 1px solid #fff;
    background: #404040;
    padding: 0;
}

.resume-section
{
    margin-top: 0;
    margin-bottom: 0;
    background: rgb(250, 250, 250);
    padding: 22px;
}

/* Education */

.education-element
{
 
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.education-element > h2
{
    color: #5a5a5a;
    font-size: 14pt;
}

.education-element > p
{
    font-style: italic;
}

/* Hability */

#habilidades
{
    margin-bottom: 50px;
}


.skill-image
{
    width: 80%;
    position: relative;
}

.skill-image-container
{
    background: #cbcbcb;
    padding: 20%;
    border-radius: 50%;
}

.skill-item
{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    color: #fff;

    font-size: 24pt;
}

.skill-item::before
{
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background: #005c9d;
    content: "";
    position: absolute;
    z-index: -1;
}

.skill-item-white
{
    color: #404040;
}

.skill-item-white::before
{
    background: #f4f4f4;
}

.skill-item-yellow
{
    color: #404040;
}

.skill-item-yellow::before
{
    background: #ffd000;
}

.skill-item > h6
{
    margin-top:  120%;
    position:  absolute;
}

/* Proyect */

.proyect-container
{
    background: #dfdfdf;
    padding: 18px;
}

.proyect-tag
{
    margin-left: 5px;
}

.proyect-tag-container
{
    padding: 5px;
    padding-left: 15px;
}
.card
{
    margin: 10px;
}

.card-img
{
    width: 100%;
    height: 200px;
    background: #404040;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

.card-text
{
    min-height: 120px;
}


.card-body
{
    padding: 15px;
    padding-top: 8px;
}

.info-light 
{
    text-align: center;
    color: #6f6f6f;
}

/* Modals */

.modal-dialog
{
    max-width: 800px;
}

.modal-content 
{
    border-radius: 0;
}

.modal-header
{
    background: #0077cc;
    color: #fff;
    border-radius: 0;
}


.modal-header > h5 , .modal-header > .close 
{
    color: #fff;
}

/* Contact */

#contact-form
{
    padding: 20px;
    background: #00537F;
    text-align: center;
    margin-bottom: 15px;
}

#contact-form .container
{
    min-width: 200px;
    max-width: 600px;
}

#contact-form h3
{
    color: #fff;
}

.form-control, .form-control:focus
{
    border-radius: 2px;
    border: none;
    background: #003358;
    color: #fff;
}

textarea
{
    min-height: 180px;
}

.form-control::-webkit-input-placeholder { color: #fafafa8b; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #fafafa8b; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #fafafa8b; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #fafafa8b; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #fafafa8b; }  /* Microsoft Edge */

.btn-send
{
    width: 100%;
    border-radius: 4px;
}

.btn-send:hover
{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* Social */

.social
{
    float: right;
    right: 100%;
}

.social a 
{
    margin: 5px;
    font-size: 16pt;
    color: #6f6f6f;
}

.social a:hover
{
    color: #404040;
}



