@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root
{
    --background: #171717;
}

body
{
    background-color: var(--background);
    color: #ffffff;
}

h1,h2
{
    font-family: 'Lato', sans-serif;
}

.btn-outline-dark
{
    color: white;
    border: 1px solid white;
}

.btn-outline-dark:hover
{
    background-color: black;
    border: 1px solid white;
}

.navbar-bg-dark
{
    background-color: var(--background);
}

.pag-header > h1
{
    font-size: 100px;
    
}

.pag-header > h3
{
    font-size: 30px;
}

.nav-link:hover
{
    font-weight: 600;
}

.profile-pic
{
    border: 8px solid #090909;
    border-radius: 100%;
    width: 300px;
}

article
{
    padding-top: 60px;
    margin-top: 40px;
}

.bg-dark
{
    background-color: #2d2d2d !important;
}

.project-card
{
    margin-top: 50px;
}

.btn-send
{
     min-width : 200px;
}

.form-control, .form-control:hover,.form-control:active, .form-control:focus
{
    background-color: #2d2d2d;
    color: white;
}

.form-control::placeholder
{
    color: rgb(189, 189, 189);
}

.footer
{
    height: 60px;
}

.github
{
    font-size: 26pt;
}

.github:visited
{
    color: white;
}

#contact-form {
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

#contact-form .container {
    min-width: 200px;
    max-width: 600px;
}

textarea
{
    min-height: 300px;
}